<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="192.168.4.236"/>
    <add key="user" value="admin"/>
    <add key="pass" value=""/>
    <add key="routerMac" value="00:15:5D:04:1F:03"/>
    <add key="routerIdentity" value="MikroTik"/>
    <add key="catalogDumpDir" value="C:\Data\Source\Projekty.Danik\tik4net\tik4net\_notes\WinboxMessage"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
