<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="52.64.228.166"/>
    <add key="user" value="agent"/>
    <add key="pass" value="test1234"/>
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
