<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="host" value="192.168.3.117"/>
    <add key="user" value="admin"/>
    <add key="pass" value=""/>
    <add key="connectionType" value="Api_v2"/>
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
</configuration>
